In [14]:
import numpy as np
import re
import pandas as pd

In [43]:
frame = pd.read_csv('hits.txt', delimiter = '\t', header = None)
frame

,0,1,2
0,https://wikipedia.org,72.110.191.15,/friends/files
1,rambler.ru,142.93.168.247,/universe.php
2,ftp://info.itar-tass.com,90.68.118.69,/login/monitors/static/me
3,http://altavista.com,18.79.197.236,/friends/tasks/universe
4,ftp://tetrika-school.ru,115.26.250.226,/translate/anekdots/my-files/monday
...,...,...,...
1247031,ftp://yandex.ru,115.194.89.196,/store/no-scripts/ping/universe.html
1247032,www.aport.ru,153.195.110.239,/modules.htm
1247033,www.assembly.spb.ru,182.116.163.147,/stats/thanks/test/232
1247034,https://ya.ru,244.245.239.251,/news/module/universe
1247035,http://abnews.ru,185.108.140.96,/my-files/trend/admin

In [40]:
frame[1].head()

0     72.110.191.15
1    142.93.168.247
2      90.68.118.69
3     18.79.197.236
4    115.26.250.226
Name: 1, dtype: object

In [41]:
frame[1].value_counts()

154.157.157.156    1531
82.146.232.163     1505
194.78.107.33      1494
226.247.119.128    1494
21.143.243.182     1479
                   ...
139.171.200.26       50
45.187.28.99         50
141.159.104.28       49
222.82.41.97         48
186.16.125.246       47
Name: 1, Length: 2000, dtype: int64

In [42]:
frame[1].value_counts()[:5]

154.157.157.156    1531
82.146.232.163     1505
194.78.107.33      1494
226.247.119.128    1494
21.143.243.182     1479
Name: 1, dtype: int64