In [1]:
import pandas as pd
import numpy as np

**1.Открываем файлы**

In [2]:
frame_lessons = pd.read_csv('lessons.txt', delimiter = '|')
frame_users = pd.read_csv('users.txt', delimiter = '|')
frame_participants = pd.read_csv('participants.txt', delimiter = '|')
frame_quality = pd.read_csv('quality.txt', delimiter = '|')

**2. Следующие блоки кода относится к предобработке данных. Удаление пробелов, приведение к типу float и заполнение пропущенных значений нулями**

In [3]:
frame_lessons.columns = frame_lessons.columns.str.strip()
frame_users.columns = frame_users.columns.str.strip()
frame_participants.columns = frame_participants.columns.str.strip()
frame_quality.columns = frame_quality.columns.str.strip()

In [4]:
frame_lessons.dropna(inplace = True)
frame_users.dropna(inplace = True)
frame_participants.dropna(inplace = True)
frame_quality.dropna(inplace = True)

In [5]:
frame_lessons['subject'] = frame_lessons['subject'].apply(lambda x: x.strip())
frame_lessons['id'] = frame_lessons['id'].apply(lambda x: x.strip())
frame_lessons['scheduled_time'] = frame_lessons['scheduled_time'].apply(lambda x: x.strip())
frame_users['role'] = frame_users['role'].apply(lambda x: x.strip())
frame_users['id'] = frame_users['id'].apply(lambda x: x.strip())
frame_participants['event_id'] = frame_participants['event_id'].apply(lambda x: x.strip())
frame_participants['user_id'] = frame_participants['user_id'].apply(lambda x: x.strip())
frame_quality['lesson_id'] = frame_quality['lesson_id'].apply(lambda x: x.strip()) 
frame_quality['tech_quality'] = frame_quality['tech_quality'].apply(lambda x: x.strip())

In [6]:
frame_quality['tech_quality'] = frame_quality['tech_quality'].replace('', 0)
frame_quality['tech_quality'] = frame_quality['tech_quality'].astype(float)
frame_participants['event_id'] = frame_participants['event_id'].astype(float)

**3. Выведем все уроки по физике**

In [7]:
frame_lessons_phys = frame_lessons[frame_lessons['subject'] == 'phys']
frame_lessons_phys

,id,event_id,subject,scheduled_time
1,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114.0,phys,2020-01-19 12:00:00
4,00fc6685-f53a-49bb-b960-5e0042fd3852,51341.0,phys,2020-01-17 12:00:00
5,4cadf623-82e6-422f-a342-acf978302fb2,55048.0,phys,2020-01-19 14:00:00
7,e597a79a-3f68-4d15-bc77-c7000bcf8e52,53026.0,phys,2020-01-19 15:00:00
9,ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17,51645.0,phys,2020-01-19 14:00:00
...,...,...,...,...
367,e90f529b-1061-4efd-9bba-f73ecee2ef27,55490.0,phys,2020-01-19 08:00:00
368,f0002160-e57e-4e90-ac7e-c8fcdbbae26f,41963.0,phys,2020-01-19 09:00:00
369,8a1bac54-c5c6-47c9-8fdb-36d01384eaae,55881.0,phys,2020-01-19 15:00:00
370,457accf4-bd99-4b9d-b540-ef200e65afbd,49007.0,phys,2020-01-19 05:00:00
372,403707fd-b110-4216-b678-6dbc92eb6fad,41964.0,phys,2020-01-19 11:00:00

**4. Далее заведём пустой список и туда будем помещать следующее: будем добавлять индентификатор события (урока), id пользователя, статус пользователя и id урока из таблиц lessons.txt и participants.txt**

In [8]:
List_1 = []
for i, i_d in zip(frame_lessons_phys['event_id'], frame_lessons_phys['id']) :
    mini_list = []
    for j,k,r in zip(frame_participants['event_id'],frame_participants['user_id'], frame_users['role']):
        if i == j:
            mini_list.append([j, k, r, i_d] )
    List_1.append(mini_list)

In [9]:
List_1[0]

[[38114.0,
  'e28351f5-4ccb-4549-8647-d43f2b15e7b8',
  'pupil',
  '1e7bb408-cfef-4a9f-8328-351c9483a64c'],
 [38114.0,
  '4df2832a-1d63-4453-9659-43993fc35996',
  'tutor',
  '1e7bb408-cfef-4a9f-8328-351c9483a64c'],
 [38114.0,
  'e28351f5-4ccb-4549-8647-d43f2b15e7b8',
  'pupil',
  '1e7bb408-cfef-4a9f-8328-351c9483a64c'],
 [38114.0,
  '4df2832a-1d63-4453-9659-43993fc35996',
  'tutor',
  '1e7bb408-cfef-4a9f-8328-351c9483a64c']]

**5. Далее заводим новый список, в который будем помещать оценки, которые были выставлены на этих уроках**

In [10]:
mark_list = []

for k,mark in zip(frame_quality['lesson_id'],frame_quality['tech_quality']):
    mini_list = []
    for i in range(len(List_1)):
        for j in range(len(List_1[i])):
            if List_1[i][j][3] == k:
                mini_list.append([k, mark ])
    mark_list.append(mini_list)

In [24]:
mark_list[:10]

[[],
 [],
 [],
 [['00fc6685-f53a-49bb-b960-5e0042fd3852', 5.0],
  ['00fc6685-f53a-49bb-b960-5e0042fd3852', 5.0]],
 [['00fc6685-f53a-49bb-b960-5e0042fd3852', 5.0],
  ['00fc6685-f53a-49bb-b960-5e0042fd3852', 5.0]],
 [['4cadf623-82e6-422f-a342-acf978302fb2', 5.0],
  ['4cadf623-82e6-422f-a342-acf978302fb2', 5.0]],
 [['e597a79a-3f68-4d15-bc77-c7000bcf8e52', 5.0],
  ['e597a79a-3f68-4d15-bc77-c7000bcf8e52', 5.0]],
 [],
 [['ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17', 5.0],
  ['ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17', 5.0],
  ['ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17', 5.0],
  ['ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17', 5.0]],
 [['7d56b43a-d137-446d-8570-8d7d5ccbaee9', 5.0],
  ['7d56b43a-d137-446d-8570-8d7d5ccbaee9', 5.0],
  ['7d56b43a-d137-446d-8570-8d7d5ccbaee9', 5.0],
  ['7d56b43a-d137-446d-8570-8d7d5ccbaee9', 5.0]]]

**6. Заводим ещё один список, в котором будет содержаться средняя оценка за несколько занятий (Ноль в данном случае означает, что оценка не выставлена)**

In [17]:
summa = []
for i, ID in zip(range(len(mark_list)), frame_quality['lesson_id']):
    list_1 = []
        
    for j in range(len(mark_list[i])):
        #list_1 = []
        list_1.append(mark_list[i][j][1])
    if len(mark_list[i]) != 0.: 
        summa.append([ID, sum(list_1)/len(mark_list[i])])
    else:
        summa.append([ID, sum(list_1)])

In [19]:
summa[:20]

[['6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a', 0],
 ['62e1a078-33de-47c1-99d2-845b1daca56f', 0],
 ['62e1a078-33de-47c1-99d2-845b1daca56f', 0],
 ['00fc6685-f53a-49bb-b960-5e0042fd3852', 5.0],
 ['00fc6685-f53a-49bb-b960-5e0042fd3852', 5.0],
 ['4cadf623-82e6-422f-a342-acf978302fb2', 5.0],
 ['e597a79a-3f68-4d15-bc77-c7000bcf8e52', 5.0],
 ['44e2e74c-8481-41a2-bd64-f6af688169b7', 0],
 ['ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17', 5.0],
 ['7d56b43a-d137-446d-8570-8d7d5ccbaee9', 5.0],
 ['38a8b0ea-ff54-42cf-ab5b-742700ffcd0a', 5.0],
 ['38a8b0ea-ff54-42cf-ab5b-742700ffcd0a', 5.0],
 ['b1a122d7-b1c3-43c9-86e1-ec5e40456a3b', 5.0],
 ['b1a122d7-b1c3-43c9-86e1-ec5e40456a3b', 5.0],
 ['d8816fa1-dd30-4a4b-8bd1-32285dec279f', 0],
 ['d8816fa1-dd30-4a4b-8bd1-32285dec279f', 0],
 ['7c60dff9-7145-4a89-8310-e5ad951f7758', 0],
 ['7c60dff9-7145-4a89-8310-e5ad951f7758', 0],
 ['59e1a7df-46bf-4415-a711-67912df0f64a', 0],
 ['d55749ed-5c0f-45f0-ad82-d3f908b31750', 5.0]]

**7. Далее найдём самые минимальные выставленные оценки, таким образом мы узнаем id урока.**

In [14]:
result = []
for i in range(len(summa)):
    if summa[i][1] == 1.:
        result.append(summa[i])
    elif summa[i][1] == 2.:
        
        result.append(summa[i])        
result

[['69131767-f538-4305-ad4d-2f854f64e210', 1.0],
 ['577ae94d-45c8-4804-9a50-40e91048d81d', 2.0]]

**8.Затем возвращаемся в исходный список summa и по этим id находим все оценки, за все дни и вычисляем среднее**

In [20]:
kil = []
for i in range(len(summa)):
    if summa[i][0] == '69131767-f538-4305-ad4d-2f854f64e210':
        kil.append(summa[i])
    elif summa[i][0] == '577ae94d-45c8-4804-9a50-40e91048d81d':
        kil.append(summa[i])

In [21]:
kil

[['69131767-f538-4305-ad4d-2f854f64e210', 5.0],
 ['69131767-f538-4305-ad4d-2f854f64e210', 1.0],
 ['577ae94d-45c8-4804-9a50-40e91048d81d', 2.0]]

In [22]:
frame_answer = frame_lessons_phys[frame_lessons_phys['id'] == '577ae94d-45c8-4804-9a50-40e91048d81d' ]
frame_answer

,id,event_id,subject,scheduled_time
275,577ae94d-45c8-4804-9a50-40e91048d81d,52949.0,phys,2020-01-18 09:00:00

In [23]:
pd.merge(frame_answer, pd.DataFrame({'score' : [2.0]}, index = [275]), left_index = True, right_index = True)

,id,event_id,subject,scheduled_time,score
275,577ae94d-45c8-4804-9a50-40e91048d81d,52949.0,phys,2020-01-18 09:00:00,2.0